<<<<<<< HEAD
#spacer{
    border-right: 3px solid;
}
=======
@import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap');
body{
    background-image: url("images/indexBackground.jpg");
}
.header-parent{
display:flex;
flex-wrap: wrap;
justify-content: center;
background-color: rgba(0, 0, 255, 0.700);
box-shadow: 5px 5px rgba(0, 0, 130, 0.500);
border-radius: 30px;
width: 500px;
>>>>>>> master
